APP_ENV=production
APP_DEBUG=false
APP_KEY=SomeRandomStringOf32CharsExactly
APP_URL=http://localhost:8080
SITE_OWNER=your_email@example.com
TZ=UTC
TRUSTED_PROXIES=

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=firefly
DB_USERNAME=firefly
DB_PASSWORD=change_this_password

STATIC_CRON_TOKEN=SomeRandomStringOf32CharsExactly
LOG_CHANNEL=stack
APP_LOG_LEVEL=notice
DEFAULT_LANGUAGE=en_US
DEFAULT_LOCALE=equal
